.gameImages {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.gameImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameCards {
  display: flex;
justify-content: center;
  width: 500px;
  border: red solid 2px;
}
.videoGamesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}