.gameImages {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.gameImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameCards {
/* justify-content: center; */
  width: 500px;
}
.videoGamesContainer {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
justify-content: center; 
}
.descriptions {
  text-align: center;
  color: white;
  font-weight: bold;
}
.searchInput {
border-radius: 25%;
}
.search {
  border-radius: 25%;
}
.filter_options {
  margin-top: 5%;
  height: 15%; 
  display: flex;
  justify-content:center;
  padding-bottom: 2%;
}
.title {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 0%;
  padding: 2%;
}
.header {
/*   margin-top: -1%; */
  background-color: #5454c5;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  
}
body {
  background-color: #639cd9;
}